# Logs
logs
*.log
npm-debug.log*
.DS_Store

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# package
package
*.tgz

bin
.idea/

/demo/dist
/es
/lib
/umd