:root {
  --dark-navy: #0b5e73;
  --orangey: #de947f;
  --solary-dark: #002b36;
  --solary-light: #073642;
  --glowy-border: 0.5px solid var(--dark-navy);
  --transparent-border: 0.5px solid transparent;
}

body {
  background: var(--solary-light);
}

.prism-code.language-jsx {
  background-color: var(--solary-dark) !important;
}

.simple-panel,
.dynamic-acc {
  border: 1px solid var(--dark-navy);
}

.steves-panel .accordion-header {
  background: var(--solary-dark);
  border: var(--glowy-border);
  /* outline: 1px solid var(--dark-navy); */
}

.steves-panel .accordion-node {
  margin: 10px 0;
}

.steves-panel .accordion-panel {
  background: rgb(0 43 54 / 24%);
}

.steves-panel .accordion-header.is-open {
  /* border-bottom: none; */
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.steves-panel .accordion-panel {
  border-left: var(--transparent-border);
  border-right: var(--transparent-border);
  border-bottom: var(--transparent-border);
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.steves-panel .accordion-panel.is-open {
  border-left: var(--glowy-border);
  border-right: var(--glowy-border);
  border-bottom: var(--glowy-border);
  /* outline:var(--glowy-border); */
}

@media screen and (min-width: 800px) {
  .steves-panel .only-large {
    display: block;
  }

  .steves-panel .only-small {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  /* small */
  .steves-panel .only-small {
    display: contents;
  }

  .steves-panel .only-large {
    display: none;
  }

  .steves-panel code {
    font-size: 10px;
    text-align: center;
    padding: 0 10px;
  }
}

.steve {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.steve img {
  border-radius: 5px;
  margin-right: 10px;
}

/********************************************** 
"BEAUTIFUL" STYLES 
**********************************************/

.beautiful .accordion-with-header-root {
  background: var(--light);
}

@media screen and (max-width: 800px) {
  .beautiful .header {
    padding: 13px 15px !important;
  }
}

.beautiful .header {
  transition: all 0.25s ease;
  background-color: var(--dark-navy);
}

.beautiful .header > div {
  color: var(--orangey);
}

.beautiful .header:hover {
  background-color: var(--dark-navy);
  color: var(--orangey);
  background-image: linear-gradient(-90deg, var(--cyan), var(--orange));
}

.beautiful .header:hover > div {
  color: #4d5974;
}

.beautiful .header .item {
  min-width: 25%;
  font-size: 14px;
}

.beautiful .content {
  padding: 35px;
  background: var(--light);
}

.beautiful .content p {
  color: var(--dark-navy);
}

.beautiful .closed .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
}

.beautiful .closed .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
  opacity: 1;
}

.beautiful .opened {
  opacity: 1;
}

.beautiful .opened .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
}
.beautiful .opened .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
  opacity: 0;
}

.beautiful .circle-plus {
  font-size: 1em;
}

.beautiful .circle-plus .circle {
  position: relative;
}

.beautiful .circle-plus .circle .horizontal {
  position: absolute;
  background-color: var(--orangey);
  width: 30px;
  height: 5px;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  margin-top: -2.5px;
}

.beautiful .circle-plus .circle .vertical {
  position: absolute;
  background-color: var(--orangey);
  width: 5px;
  height: 30px;
  left: 50%;
  margin-left: -2.5px;
  top: 50%;
  margin-top: -15px;
}

.block {
  margin: 20px 0 40px 0;
}

.box {
  border: 1px solid #ddd;
  margin: 0 2px 0 2px;
  padding: 5px;
}

.demo {
  margin-bottom: 100px;
}

.markup {
  background: #e9ecef;
  padding: 10px;
}

.my-panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.btn-container {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 0.5rem;
  display: grid;
}

.btn-container button {
  margin-right: 10px;
  margin-bottom: 5px;
  margin: 10px 0 10px;
}

/********************************************** 
  DYNAMIC DEMO STYLES 
***********************************************/

.my-acc-demo {
  border: none;
  box-shadow: none !important;
}

.my-acc-header {
  padding: 20px !important;
  background-color: var(--light);
  border-bottom: 0.25px solid var(--cyan);
  cursor: pointer;
}

.my-acc-header:hover .title-container h2 {
  text-decoration: underline;
}

.my-acc-node {
  margin: 10px 0;
  background: var(--solary-dark);
  border-radius: 3px;
}

.title-container h2 {
  display: inline-block;
  font-size: 22px;
  color: var(--dark);
  padding: 0;
  margin: 0;
}

.title-container span {
  color: gray;
  text-transform: lowercase;
  padding-left: 10px;
}

.likes-container {
  display: flex;
  min-width: 20%;
  justify-content: space-between;
  color: var(--secondary);
}

.likes-container div:first-child {
  color: var(--cyan);
}

.my-acc-body {
  display: flex;
  padding: 25px;
}

.my-acc-body img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0px 20px;
}

@media screen and (max-width: 800px) {
  .my-acc-demo {
    background-color: var(--solary-dark) !important;
  }

  .my-acc-header {
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 10px 18px !important;
  }

  .title-container {
    margin-bottom: 2px;
  }

  .title-container h2 {
    font-size: 17px;
  }

  .title-container span {
    display: none;
  }

  .likes-container {
    width: 32%;
    font-size: 14px;
  }

  .likes-container svg {
    display: none;
  }

  .my-acc-body {
    padding: 30px;
    flex-direction: column;
  }

  .my-acc-body img {
    margin: 0px auto 20px;
  }
}
